{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/smoothness/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript">
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8.2");
      google.setOnLoadCallback(function(){
		$("#id_creation_date").datepicker()
})
</script>
{% endblock %}
{% block title %}Enter Comment{% endblock %}

{% block content %}
<h2>Enter Comment:</h2>
<form action="/crossfit/profile/{{id}}/comment/create/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}